
@import "../variables";
@import "../mixins";

.acl-cube {
  @include base_style;
  transform-style: preserve-3d;
  transform: translateZ(0) rotateX(45deg) rotateY(0deg) rotateZ(45deg);
  animation: bounce-cube .6s cubic-bezier(.5, 0.05, 1, .5) infinite alternate;

  &::before, &::after {
    @include pseudo_base_style;
  }

  &::before {
    background-color: darken($acl-color, 10%);
    transform: translateX($acl-size / 2) translateZ(-$acl-size / 2) rotateY(90deg);
  }

  &::after {
    background-color: lighten($acl-color, 10%);
    transform: translateY($acl-size / 2) translateZ(-$acl-size / 2) rotateX(90deg);
  }
}

@keyframes bounce-cube {
  0% {
    transform: translateZ(0) rotateX(45deg) rotateY(0deg) rotateZ(45deg) translateZ($acl-size);
  }
  100% {
    transform: translateZ(0) rotateX(45deg) rotateY(0deg) rotateZ(45deg) translateZ(-$acl-size);
  }
}
