
@mixin base_style {
  width: $acl-size;
  height: $acl-size;
  background-color: $acl-color;
  margin: $acl-margin auto;
}

@mixin pseudo_base_style {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
}
